<div class="container ">

    <div class="row ">
        <div class="col-md-2 ">
            <img src= "{{Pimage}}" style= "width: 100%">
        </div>
        <div class="col-9">
            <div>
            <h5 class="py-2"> {{Pname}}</h5>
            
            <h5>Price:</h5> <p>₹ {{Pcost}}</p>
            </div>
        </div>
        <div class="col-sm-1"><div class="mt-3" (click)="delete()"><img  class='hovershadow' src="/assets/delete.png" alt="delete" width="23px"></div></div>
    </div>

</div>

